<!doctype html>
<html>
    <head>
        <title>Twilio SendGrid Example</title>
				<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3>Successful Login! Thanks for protecting your account</h3>
				<h1>Now send a Twilio SendGrid Email</h1>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
        <form action="" method="post">
            <p>Your email: <input type="text" name="recipient"></p>
            <p><input type="submit" value="Send a Test Email"></p>
        </form>
    </body>
</html>
